node_modules/      # root
server/node_modules/     # server folder
client/node_modules/     # client folder


dist/
build/


server/.env
server/.DS_Store
server/utils/serviceAccountKey.json
.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*
